*.html
*.Rhistory
*.pdf
*.docx
data_analysis_ebola/output/chains*
data_analysis_covid/output/chains*
simulation_study/output/chains*
data_analysis/*
data_analysis_ebola/figures/*
data_analysis_covid/figures/*
data_analysis_covid/model_config.xlsx
data_analysis_ebola/model_config.xlsx
simulation_study/figures/*
title.tex